body {
    font-family: 'Lato', 'Roboto', sans-serif;
    color: $gray-900;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
}