.admin-modal-image {
    width: 141px;
    height: 141px;
    object-fit: cover;
}

.admin-view-dropdown {
    line-height: 1;

    .expand::after {
        content: 'expand_more'
    }
    
    &.collapsed {
        .expand::after {
            content: 'expand_less'
        }
    }
}

