.user-image {
    width: 40px;
    height: 40px;
    border-radius: 24px;
    object-fit: cover
}

.ck-editor__editable {
    min-height: 340px;
}

.ckeditor-button {
    right: 24px;
    bottom: 16px;
}

.c-pointer {
    cursor: pointer;
}

.form-control[readonly] {
    background: $gray-100;
}