/*font-size*/
.fz-1{
    font-size: $font-size-base*1.5;    //24px
}
.fz-2{
    font-size: $font-size-base*1.25;   //20px
}
.fz-3{
    font-size: $font-size-base*1.125;  //18px
}
.fz-4{
    font-size: $font-size-base;        //16px
}
.fz-5{
    font-size: $font-size-base*0.875;  //14px
}
.fz-6{
    font-size: $font-size-base*0.75;   //12px
}

/*space*/
//margin
.m-6{
    margin: $spacer-6; //32px
}
.mt-6, .my-6{
    margin-top: $spacer-6;
}
.mb-6, .my-6{
    margin-bottom: $spacer-6;
}
.ms-6, .mx-6{
    margin-left: $spacer-6;
}
.me-6, .mx-6{
    margin-right: $spacer-6;
}

//padding
.p-6{
    padding: $spacer-6; //32px
}
.pt-6, .py-6{
    padding-top: $spacer-6;
}
.pb-6, .py-6{
    padding-bottom: $spacer-6;
}
.ps-6, .px-6{
    padding-left: $spacer-6;
}
.pe-6, .px-6{
    padding-right: $spacer-6;
}