.sidebar {
    width: 296px;
    min-height: 100vh;

    .sidebar-logo {
        img {
            height: 36px;
        }
    }

    .nav-item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    .nav-item.active::before {
        content: '';
        position: absolute;
        height: 100%;
        border-left: 4px solid $success;
    }

    .nav-link {
        padding: 0.5rem 2rem;
    }
}